/*/* perfecthome.css */

.container {
  padding-top: 50px;
  max-width: 800px;
}


.listings {
	display: block;

} 
 
#list2, 
#list3 { display: none; }

span.water,
span.bestie,
span.favCartoon,
span.favCountry,
span.favAnimal, 
span.verb1, 
span.artist,
span.prez {
	text-transform: capitalize;
}