/* perfecthome.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic);

body {
	background-color: rgba(255,243,232,1);
	box-sizing: border-box;
}

h1 {
	color: rgba(63,63,61,1);;
}

p {
	font-size: 1rem;
}

/*	FORM FIELD STYLES */
fieldset, 
form, 
label, 
legend {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input {
	margin: 0 0 1.3rem 0;

}
select {
	height: 2rem;
	border-radius: 0;
}
option {
	font-size: 1.2rem;
	
}
#container {
	display: block;
	margin: 0 auto;
	padding: 30px 30px;
	max-width: 900px;
	min-width: 280px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem; 
	border: none;
	background-color: #fff;
	color: rgba(63,63,61,1);
 
}
.enter-name {
	display: block;
}

input[type="text"].firstName {
	margin: 10px 0 10px 0;
}
select,
input[type="number"],
input[type="text"] {
	box-sizing: border-box;
	display: block;
	margin-bottom: 19px;
	width: 100%;
	max-width: 40rem;
	padding: 10px;
	color: #878787;
	background-color: #fff;
	border-radius: 0;

}
select:focus,
input[type="number"]:focus,
input[type="text"]:focus {
	border-radius: 0;
	border-color: rgba(255,155,68,1);
	box-shadow: none;
	outline-color: rgba(255,155,68,1);
 	outline-style: solid;
}
button[type="submit"], 
input[type="submit"] {
	max-width: 50%;
	padding: 1rem;
	border-radius: 0;
	border-style: none;
	background-color: rgba(255,155,68,1);
	outline-color: #fff;
	color: #fff;
	font-size: 1rem;


}
button[type="submit"]:hover, 
input[type="submit"]:hover {	
	border-radius: 0;
	color: #fff;
	box-shadow: none;
	outline: 1px solid rgba(255,155,68,1);
	color: #fff;
	font-size: 1rem;   
}

#btn-generate {
	display: block;
	margin: 1rem 0 0 0;
}
#btn-reset {
	display: block;
}

.questions1,
.questions2,
.questions3 {
	display: block;
}

.listings {
	display: block;
	width: 100%
	height: 60vh;

} 

#list1 
#list2, 
#list3 { 
	display: block;
	width: 90%;
	height: 60vh; 
}

span.firstName,
span.water,
span.bestie,
span.favCartoon,
span.favCountry,
span.favAnimal, 
span.verb1, 
span.artist,
span.prez, 
span.favCity {
	text-transform: capitalize;
}